{% extends 'base.html' %}
{% block title %}Creare Dosar Nou{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm mt-4">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">+ Înregistrare Dosar Nou</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'cases:lista_dosare' %}" class="btn btn-outline-secondary">Anulează</a>
                        <button type="submit" class="btn btn-success fw-bold">Înregistrează Dosarul</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}