Ați solicitat resetarea parolei pentru contul dumneavoastră pe platforma Sistemul Informatic de Evidenţă a Dosarelor Penale.

Vă rugăm să accesați următorul link securizat pentru a seta o parolă nouă:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Dacă nu ați solicitat dumneavoastră această modificare, vă rugăm să ignorați acest email. Datele contului dumneavoastră sunt în siguranță.

O zi bună,
Echipa Sistemul Informatic de Evidenţă a Dosarelor Penale